<html>
  <head>
  	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
  </head>
  <body>
	<div class="container">
    <%= yield %>
	</div>
  </body>
</html>